{% extends 'index.html' %}

{% block content %}

    
    {% if nombre %}
    <h3 class="title is-4">Resultado de la búsqueda de: {{nombre}}</h3>
    {% endif %}
    {% if resultado_puntomascotas %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_puntomascotas.shop }}</h5>
        <p>Nombre: {{ resultado_puntomascotas.nombre }}</p>
        <p>Precio: {{ resultado_puntomascotas.precio }}</p>
        <p>Stock: {{ resultado_puntomascotas.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_puntomascotas.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_braloy %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_braloy.shop }}</h5>
        <p>Nombre: {{ resultado_braloy.nombre }}</p>
        <p>Precio: {{ resultado_braloy.precio }}</p>
        <p>Stock: {{ resultado_braloy.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_braloy.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_petslandia %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_petslandia.shop }}</h5>
        <p>Nombre: {{ resultado_petslandia.nombre }}</p>
        <p>Precio: {{ resultado_petslandia.precio }}</p>
        <p>Stock: {{ resultado_petslandia.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_petslandia.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_tusmascotas and resultado_tusmascotas.nombre != 'Sin Informacion' %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_tusmascotas.shop }}</h5>
        <p>Nombre: {{ resultado_tusmascotas.nombre }}</p>
        <p>Precio: {{ resultado_tusmascotas.precio }}</p>
        <p>Stock: {{ resultado_tusmascotas.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_tusmascotas.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_tusmascotas_full and resultado_tusmascotas_full.nombre != 'Sin Informacion' %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_tusmascotas_full.shop }}</h5>
        <p>Nombre: {{ resultado_tusmascotas_full.nombre }}</p>
        <p>Precio: {{ resultado_tusmascotas_full.precio }}</p>
        <p>Stock: {{ resultado_tusmascotas_full.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_tusmascotas_full.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_novapet %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_novapet.shop }}</h5>
        <p>Nombre: {{ resultado_novapet.nombre }}</p>
        <p>Precio: {{ resultado_novapet.precio }}</p>
        <p>Stock: {{ resultado_novapet.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_novapet.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_mlandia and resultado_mlandia.nombre != 'Sin Informacion' %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_mlandia.shop }}</h5>
        <p>Nombre: {{ resultado_mlandia.nombre }}</p>
        <p>Precio: {{ resultado_mlandia.precio }}</p>
        <p>Stock: {{ resultado_mlandia.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_mlandia.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_mlandia_full and resultado_mlandia_full.nombre != 'Sin Informacion' %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_mlandia_full.shop }}</h5>
        <p>Nombre: {{ resultado_mlandia_full.nombre }}</p>
        <p>Precio: {{ resultado_mlandia_full.precio }}</p>
        <p>Stock: {{ resultado_mlandia_full.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_mlandia_full.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_gpet %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_gpet.shop }}</h5>
        <p>Nombre: {{ resultado_gpet.nombre }}</p>
        <p>Precio: {{ resultado_gpet.precio }}</p>
        <p>Stock: {{ resultado_gpet.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_gpet.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_dgppet %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_dgppet.shop }}</h5>
        <p>Nombre: {{ resultado_dgppet.nombre }}</p>
        <p>Precio: {{ resultado_dgppet.precio }}</p>
        <p>Stock: {{ resultado_dgppet.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_dgppet.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_stgopet %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_stgopet.shop }}</h5>
        <p>Nombre: {{ resultado_stgopet.nombre }}</p>
        <p>Precio: {{ resultado_stgopet.precio }}</p>
        <p>Stock: {{ resultado_stgopet.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_stgopet.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_lira and resultado_lira.nombre != 'Sin Informacion' %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_lira.shop }}</h5>
        <p>Nombre: {{ resultado_lira.nombre }}</p>
        <p>Precio: {{ resultado_lira.precio }}</p>
        <p>Stock: {{ resultado_lira.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_lira.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_lira_full and resultado_lira_full.nombre != 'Sin Informacion' %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_lira_full.shop }} </h5>
        <p>Nombre: {{ resultado_lira_full.nombre }}</p>
        <p>Precio: {{ resultado_lira_full.precio }}</p>
        <p>Stock: {{ resultado_lira_full.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_lira_full.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_faunimals %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_faunimals.shop }}</h5>
        <p>Nombre: {{ resultado_faunimals.nombre }}</p>
        <p>Precio: {{ resultado_faunimals.precio }}</p>
        <p>Stock: {{ resultado_faunimals.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_faunimals.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_manchasSofi %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_manchasSofi.shop }} </h5>
        <p>Nombre: {{ resultado_manchasSofi.nombre }}</p>
        <p>Precio: {{ resultado_manchasSofi.precio }}</p>
        <p>Stock: {{ resultado_manchasSofi.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_manchasSofi.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_berlinHappy %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_berlinHappy.shop }} </h5>
        <p>Nombre: {{ resultado_berlinHappy.nombre }}</p>
        <p>Precio: {{ resultado_berlinHappy.precio }}</p>
        <p>Stock: {{ resultado_berlinHappy.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_berlinHappy.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_petco %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_petco.shop }} </h5>
        <p>Nombre: {{ resultado_petco.nombre }}</p>
        <p>Precio: {{ resultado_petco.precio }}</p>
        <p>Stock: {{ resultado_petco.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_petco.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if resultado_worldPets %}
    <div class="box shadow-md">
        <h5 class="title is-6">{{ resultado_worldPets.shop }} </h5>
        <p>Nombre: {{ resultado_worldPets.nombre }}</p>
        <p>Precio: {{ resultado_worldPets.precio }}</p>
        <p>Stock: {{ resultado_worldPets.stock }}</p>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" href="{{ resultado_worldPets.url }}" target="_blank">
                    Ir al producto
                </a>
            </p>
        </div>
    </div>
    {% endif %}
{% endblock %}