<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Scraping - Búsqueda de Alimentos</title>
    <!-- Bulma Version 0.9.4-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <h2 class="navbar-item title">Búsqueda de Alimentos</h2>
            </div>
        </div>
    </nav>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <form id="buscador" action="/" method="POST" onsubmit="return validarFormulario(event)">
                                <div class="field has-addons">
                                    <div class="control has-icons-left is-expanded">
                                        <input id="nombre_alimento" class="input" type="search" name="nombre_alimento"
                                            placeholder="Escribe el nombre aqui..." />
                                        <span class="icon is-medium is-left">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <p class="help is-danger" id="error_nombre" style="display:none;">El nombre es
                                            obligatorio.</p>
                                    </div>
                                    <div class="control">
                                        <input class="button is-info" type="submit" value="Buscar"
                                            onclick="if (validarFormulario()) { showLoader(); }">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container block mt-4">
        <div id="loader-container" class="loader-container">
            <div class="loader"></div>
        </div>
        {% if nombre %}
        <h3 class="title is-4">Resultado de la búsqueda de: {{nombre}}</h3>
        {% endif %}

        {% if resultado_puntomascotas %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_puntomascotas.shop }}</h5>
            <p>Nombre: {{ resultado_puntomascotas.nombre }}</p>
            <p>Precio: {{ resultado_puntomascotas.precio }}</p>
            <p>Stock: {{ resultado_puntomascotas.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_puntomascotas.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_braloy %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_braloy.shop }}</h5>
            <p>Nombre: {{ resultado_braloy.nombre }}</p>
            <p>Precio: {{ resultado_braloy.precio }}</p>
            <p>Stock: {{ resultado_braloy.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_braloy.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_petslandia %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_petslandia.shop }}</h5>
            <p>Nombre: {{ resultado_petslandia.nombre }}</p>
            <p>Precio: {{ resultado_petslandia.precio }}</p>
            <p>Stock: {{ resultado_petslandia.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_petslandia.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_tusmascotas %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_tusmascotas.shop }}</h5>
            <p>Nombre: {{ resultado_tusmascotas.nombre }}</p>
            <p>Precio: {{ resultado_tusmascotas.precio }}</p>
            <p>Stock: {{ resultado_tusmascotas.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_tusmascotas.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_tusmascotas_full %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_tusmascotas_full.shop }}</h5>
            <p>Nombre: {{ resultado_tusmascotas_full.nombre }}</p>
            <p>Precio: {{ resultado_tusmascotas_full.precio }}</p>
            <p>Stock: {{ resultado_tusmascotas_full.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_tusmascotas_full.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_novapet %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_novapet.shop }}</h5>
            <p>Nombre: {{ resultado_novapet.nombre }}</p>
            <p>Precio: {{ resultado_novapet.precio }}</p>
            <p>Stock: {{ resultado_novapet.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_novapet.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_mlandia %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_mlandia.shop }}</h5>
            <p>Nombre: {{ resultado_mlandia.nombre }}</p>
            <p>Precio: {{ resultado_mlandia.precio }}</p>
            <p>Stock: {{ resultado_mlandia.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_mlandia.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_mlandia_full %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_mlandia_full.shop }}</h5>
            <p>Nombre: {{ resultado_mlandia_full.nombre }}</p>
            <p>Precio: {{ resultado_mlandia_full.precio }}</p>
            <p>Stock: {{ resultado_mlandia_full.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_mlandia_full.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_gpet %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_gpet.shop }}</h5>
            <p>Nombre: {{ resultado_gpet.nombre }}</p>
            <p>Precio: {{ resultado_gpet.precio }}</p>
            <p>Stock: {{ resultado_gpet.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_gpet.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_dgppet %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_dgppet.shop }}</h5>
            <p>Nombre: {{ resultado_dgppet.nombre }}</p>
            <p>Precio: {{ resultado_dgppet.precio }}</p>
            <p>Stock: {{ resultado_dgppet.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_dgppet.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_stgopet %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_stgopet.shop }}</h5>
            <p>Nombre: {{ resultado_stgopet.nombre }}</p>
            <p>Precio: {{ resultado_stgopet.precio }}</p>
            <p>Stock: {{ resultado_stgopet.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_stgopet.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_lira %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_lira.shop }}</h5>
            <p>Nombre: {{ resultado_lira.nombre }}</p>
            <p>Precio: {{ resultado_lira.precio }}</p>
            <p>Stock: {{ resultado_lira.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_lira.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_lira_full %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_lira_full.shop }} </h5>
            <p>Nombre: {{ resultado_lira_full.nombre }}</p>
            <p>Precio: {{ resultado_lira_full.precio }}</p>
            <p>Stock: {{ resultado_lira_full.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_lira_full.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_faunimals %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_faunimals.shop }}</h5>
            <p>Nombre: {{ resultado_faunimals.nombre }}</p>
            <p>Precio: {{ resultado_faunimals.precio }}</p>
            <p>Stock: {{ resultado_faunimals.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_faunimals.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}

        {% if resultado_manchasSofi %}
        <div class="box">
            <h5 class="title is-6">{{ resultado_manchasSofi.shop }} </h5>
            <p>Nombre: {{ resultado_manchasSofi.nombre }}</p>
            <p>Precio: {{ resultado_manchasSofi.precio }}</p>
            <p>Stock: {{ resultado_manchasSofi.stock }}</p>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" href="{{ resultado_manchasSofi.url }}" target="_blank">
                        Ir al producto
                    </a>
                </p>
            </div>
        </div>
        {% endif %}
    </section>
    <footer>
        <div class="box cta">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons"><a class="tag is-link"
                                href="https://github.com/micheladasme/FurryFoodFinder">Furry Food Feeder</a><span
                                class="tag is-light">Michel Adasme</span></div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons"><a class="tag is-link">The source code is licensed</a><span
                                class="tag is-light">MIT  <i class="fa fa-github"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>